body {
	font-family: $base-font;
	color: $text-color;
	background-color: $background-color;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
	color: $primary-color;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
